#top_bar {
    border-top: 5px solid rgb(23, 79, 150);
    border-bottom: 1px solid rgb(232, 232, 232);
}

.thin_content {
    margin-left: 10%;
    margin-right: 10%;
}

.thin_navbar {
    margin-left: 25%;
}

.spacing {
    margin-top: 20px;
}

.publication_item {
    margin-top: 5px;
    margin-left: 5%;
}

.publication_title {
    margin-top: 2px;
    font-weight: 600;
    font-size: 112%;
}

.publication_author {
    margin-top: 2px;
    font-size: 95%;
}

.publication_conference {
    margin-top: 2px;
    font-size: 95%;
}

.photo {
    border-radius: 12%
}

.email {
    font-family: 'Courier Prime', monospace;
}

.text_center {
    text-align: center;
}

/* .jumbotron {
    color: black;
} */

.paper_snapshot {
    max-width: 100%;
}

.ack {
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 100px; */

}

.bitex{
    border-radius: 5px;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
}
.btn-light{
    border-width: 1px;
    border-color: rgb(200, 200, 200);
}